@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --main-text-color: limegreen;
    --main-bg-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Roboto Mono', monospace;
}

